@include max(phone) {
  body {
    text-align: center;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .img-component {
    order: 1;
  }

  .text-component {
    order: 2;
    padding: 12% 8%;

    .title {
      font-size: toRem(26);
    }

    .stat-box {
      flex-direction: column;
      margin-top: toRem(42);

      .stat-item:not(:first-child) {
        margin-top: toRem(42);
      }

      .stat-title {
        letter-spacing: toRem(2);
        font-size: toRem(12);
      }
    }
  }
}