//Colors
$veryDarkBlue: hsl(233, 47%, 7%);
$darkBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$moreTransparentWhite: hsla(0, 0%, 100%, 0.6);

//Fonts
$ff-inter: 'Inter', sans-serif;
$ff-lexend: 'Lexend Deca', sans-serif;
$fs-body: toRem(15);
$fw-normal: 400;
$fw-bold: 700;