*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-container {
  background-color: #ccc;
  text-align: center;
  max-width: fit-content;
  padding: 2rem 4rem;
  margin-right: 1rem;
}

.weather {
  font-size: 1.4rem;
}

.temp {
  font-size: 4rem;
  font-weight: bold;
}

input, select {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

button {
  display: block;
  padding: 0.5rem 1rem;
}